.pixel-art {
	position: relative;
	top: 0;
	left: 0;
	height: 1px;
	width: 1px;
	box-shadow:

0px 0px rgba(0, 0, 0, 0),
1px 0px #160814,
2px 0px #322727,
3px 0px #4A2940,
4px 0px #51444E,
5px 0px #54398A,
6px 0px #6F4FAB,
7px 0px #8D6ACC,
8px 0px #B38EF3,
9px 0px #CFA0F3,
10px 0px #FFFDD5,
11px 0px #FECBE6;
}
